<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> 
        <a class="navbar-brand" href="#">Dating App</a>
  
        <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Messages</a>
          </li>
        </ul>
        
        <div *ngIf="loggedIn()" class="dropdown" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>
            Welcome!
          </a>
        
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" onClick="editProfile()"><i class="fa fa-user"></i> Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
      
        <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
          <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required
            [(ngModel)]="model.username" #usernameInput="ngModel" minlength="4" maxlength="100">
      
          <div *ngIf="usernameInput?.invalid && (usernameInput?.dirty || usernameInput?.touched)" class="alert alert-danger">
      
            <div *ngIf="usernameInput?.errors.required">
              Name is required.
            </div>
            <div *ngIf="usernameInput?.errors.minlength">
              Name must be at least 4 characters long.
            </div>
      
            <div *ngIf="usernameInput?.errors.maxlength">
              Name must be at least 100 characters long.
            </div>
          </div>
      
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required
            [(ngModel)]="model.password" #passwordInput="ngModel" minlength="8" maxlength="50">
      
          <div *ngIf="passwordInput?.invalid && (passwordInput?.dirty || passwordInput?.touched)" class="alert alert-danger">
      
            <div *ngIf="passwordInput?.errors.required">
              Name is required.
            </div>
            <div *ngIf="passwordInput?.errors.minlength">
              Name must be at least 8 characters long.
            </div>
      
            <div *ngIf="passwordInput?.errors.maxlength">
              Name must be at least 50 characters long.
            </div>
          </div>
      
      
          <button [disabled]= "!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
  </nav>