.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #2AA198; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .dropdown-toggle, .dropdown-item{
    cursor: pointer;
  }