<div class="container" id="title">
  <div *ngIf="!registerMode" style="text-align: center">
    <img style="margin-top: 1rem;" src="../../assets/logos/datingapplogoheart.jfif" height="100px" width="100px">
    <h1 style="margin-top: 2rem;">Find Your Match</h1>
      <p class="text-center">Come and see your matches... Just sing up!</p>
        <div class="text-center">
            <button class="btn btn-outline-warning btn-md add-margin-right" (click)="showRegisterForm(true)" >Sing Up!</button>
            <button class="btn btn-outline-secondary btn-md"> Read Conditions!</button>
        </div>
  </div>

  
  <div *ngIf="registerMode" class="container" id="registerContainer">
    <app-register (cancellRegister)="showRegisterForm($event)"></app-register>
  </div>
  <div>
    
  </div>

</div>
